<!DOCTYPE html>
<html class="bg-slate-900" lang="en">
<head>
    <meta http-equiv="refresh" content="1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observatory</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-10">
    <div class="ease-in-out text-2xl duration-100 font-sans font-black text-white rounded-md hover:rounded-lg bg-slate-800 mb-6 p-3">Observatory</div>
    <div class="gap-4 grid xl:grid-cols-5 2xl:grid-cols-6 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 text-white bg-green-300 rounded-lg p-4">
        <div class="text-xl ease-in-out duration-100 rounded-md hover:rounded-lg bg-neutral-900 p-3">
            <div class="block text-xl font-bold ease-in-out duration-100 font-sans rounded-md hover:rounded-lg bg-neutral-800 p-2 mb-4">Stats</div>
            <div class="grid-cols-1 grid">
                <div class="bg-blue-300 text-gray-800 rounded-md p-1 text-base font-bold mr-4 mb-1">OS</div>
                <div class="text-base mb-3 ml-1">Debian 11 Bullseye</div>

                <div class="bg-blue-300 text-gray-800 rounded-md p-1 text-base font-bold mr-4 mb-1">Host</div>
                <div class="text-base mb-3 ml-1">Dell Precision 3420</div>

                <div class="bg-blue-300 text-gray-800 rounded-md p-1 text-base font-bold mr-4 mb-1">Kernel</div>
                <div class="text-base mb-3 ml-1">5.10.0 LTS</div>

                <div class="bg-blue-300 text-gray-800 rounded-md p-1 text-base font-bold mr-4 mb-1">Uptime</div>
                <div class="text-base mb-3 ml-1">48 hours, 24 minutes</div>
                
                <div class="block text-xl font-bold ease-in-out duration-100 font-sans rounded-md hover:rounded-lg mb-4">Usage</div>

                <div class="bg-neutral-700 rounded-md p-1 text-base font-bold mr-4 mb-3">
                    <div class="bg-green-400 whitespace-nowrap text-gray-900 rounded-md p-1 text-base font-bold" style="width: 35%">CPU | 35%</div>
                </div>

                <div class="bg-neutral-700 rounded-md p-1 text-base font-bold mr-4 mb-3">
                    <div class="bg-amber-400 whitespace-nowrap text-gray-900 rounded-md p-1 text-base font-bold" style="width: 50%">RAM | 50%</div>
                </div>
            </div>
        </div>
        <div class="text-xl ease-in-out duration-100 rounded-md hover:rounded-lg bg-neutral-900 p-3">
            <div class="block text-xl font-bold ease-in-out duration-100 font-sans rounded-md hover:rounded-lg bg-neutral-800 p-2 mb-4">Docker</div>
            <div>f</div>
        </div>
        <div class="text-xl ease-in-out duration-100 rounded-md hover:rounded-lg bg-neutral-900 p-3">
            <div class="block text-xl font-bold ease-in-out duration-100 font-sans rounded-md hover:rounded-lg bg-neutral-800 p-2 mb-4">Processes</div>
            <div>f</div>
        </div>
    </div>
</body>
</html>